<template>
  <div>
    <v-row v-if="isLoading">
      <v-skeleton-loader
        class="container mx-auto my-6"
        width="100%"
        type="image"
      ></v-skeleton-loader>
    </v-row>
    <v-row v-else>
      <div class="container mx-auto videoiframe">
          <video :src="video" controls width="100%" :height="heightVideo" autoplay type="video/mp4"></video>
          <v-btn class="player-buttons" @click="playVideo()" v-show="playButton == true" flat tile color="pink darken-3" rounded="">
            <v-icon x-large="" color="white">mdi-play</v-icon>
          </v-btn>
      </div>
    </v-row>
    <v-row class="mx-auto px-12 grey lighten-5" style="margin-top: -10px"> 
      <v-col cols="12" v-if="isLoading">
        <v-row>
          <v-col cols="2">
            <v-skeleton-loader
              width="100%"
              type="image"
            ></v-skeleton-loader>
          </v-col>
          <v-col cols="10">
            <v-skeleton-loader
              width="70%"
              type="article, card-heading"
            ></v-skeleton-loader>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" v-else>
        <v-card flat tile color="transparent">
          <v-row class="mx-2">
            <v-col cols="2">
              <v-card color="transparent" elevation="4" max-width="200">
                <v-img
                  class="white--text align-end"
                  max-width="200"
                  max-height="250"
                  src="@/assets/image/poster-1.jpg"
                  lazy-src="@/assets/image/poster-1.jpg"
                >
                  <template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0"
                      align="center"
                      justify="center"
                    >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
              </v-card>
            </v-col>
            <v-col cols="7">
              <v-card flat outlined="" min-height="250" max-height="250">
                <v-card-text>
                  <div class="display-1 black--text">
                    Impian 1000 Pulau
                  </div>
                  <v-btn text small class="my-1">
                    <v-icon class="mr-1" color="pink darken-3" small>mdi-calendar</v-icon> <span class="black--text body-2">YEAR: 2018</span>
                  </v-btn>
                  <v-btn text small class="my-1">
                    <v-icon class="mr-1" color="pink darken-3" small>mdi-clock</v-icon> <span class="black--text body-2">DURATION: 1H 49M</span>
                  </v-btn>
                  <v-btn text small class="my-1">
                    <v-icon class="mr-1" color="pink darken-3" small>mdi-star</v-icon> <span class="black--text body-2">GENRE: DRAMA</span>
                  </v-btn>
                  <div class="my-2 grey--text caption">
                    Merasa impian besarnya akan pupus, GALANG (Karel Susanteo), seorang murid SMA kelas 3 di Kepulauan Seribu, bertekad kuat untuk keluar dari pulau, menjejakkan kaki ke perguruan tinggi film di darat (Jakarta). Namun, impian besar Galang bertolak belakang 
                  </div>
                  <div class="black--text">
                    <span class="caption-1 font-weight-bold">Keywords:</span>
                    <v-chip class="ma-1">
                      #impian
                    </v-chip>
                    <v-chip class="ma-1">
                      #1000
                    </v-chip>
                    <v-chip class="ma-1">
                      #pulau
                    </v-chip>
                    <v-chip class="ma-1">
                      #film
                    </v-chip>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
          
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  import MoviesService from '@/services/MovieService'
  export default {
    components: {
    },
    data () {
      return {
        isLoading: true,
        user: [],
        confirmation: true,
        sayThanks: false,
        conf: false,
        playButton: true,
        xkey: '',
        video: '',
        heightVideo: 400
      }
    },
    computed: {
      userData() {
        return this.$store.state.authData.loggedInUser
      },
    },
    methods: {
      async playVideo() {
        try {
          const user        = JSON.parse(this.userData)
          const idUser      = user.userid
          const idToken     = localStorage.getItem("access-token")
          const idMovie     = 3
          const idSignature = '1x'
          const xKey        = this.xkey
          this.playButton   = false
          this.heightVideo  = ''
          this.video        = 'https://api.yukflix.com/play-video?idu='+ idUser + '&idt=' + idToken + '&idm=' + idMovie + '&ids=' + idSignature + '&xkey='+ xKey;
        
        } catch (error) {
          console.log(error)
        }
      },
      async showMovie() {
        try {
          const user    = JSON.parse(this.userData)
          const data    = {
            'userid': user.userid,
            'token': localStorage.getItem("access-token"),
          }
          const idMovie = 3
          const response =  await MoviesService.showMovie(data, idMovie)
          if(response.data.status == 'Paid') {
            if(response.data.success == true) {
              localStorage.setItem("access-token", response.data.token)
              this.xkey = response.data.xkey
              // this.conf = true
              this.isLoading = false
            } else {
              localStorage.setItem("access-token", response.data.token)
              window.location = '/dashboard'
            }
          } else {
            localStorage.setItem("access-token", response.data.token)
            window.location = '/dashboard'
          }
          // console.log(response.data)
        } catch (error) {
          console.log(error)
        }
      },
      rightClick() {
        document.addEventListener("contextmenu", function(e){
          e.preventDefault();
          // location.reload();
        }, false);
      },
    },
    mounted () {
      this.showMovie();
      this.rightClick();
      this.user = JSON.parse(this.userData)
    },
  }
</script>

<style lang="scss" scoped>
  .videoiframe {
    iframe {
      width: 100% !important;
      height: 300px !important;
    }
  }
  .container{
    position: relative;
  }

  .container>.player-buttons{
    // background: url('http://cdn1.iconfinder.com/data/icons/iconslandplayer/PNG/64x64/CircleBlue/Play1Pressed.png') center center no-repeat;
    height: 72px;
    left: 50%;
    margin: -52px 0 0 -36px;
    position: absolute;
    top: 50%;
    width: 72px;
    z-index: 1;
    border-radius: 50%; 
  }
</style>