<template>
  <div>
    <v-card
      min-height="50"
      tile
      class="px-12"
      v-if="user.alamat == ''"
    >
      <v-row>
        <v-col cols="4">
          <v-card-text>Yuk, lengkapi profilmu agar akun terverifikasi! <router-link to="/profile">disini</router-link></v-card-text>
        </v-col>
      </v-row>
    </v-card>
    <v-row class="mx-auto px-12 py-4">
      <v-col cols="3">
        <Sidebar />
      </v-col>
      <v-col cols="9">
        <div v-for="n in 1" :key="n">
          <v-row class="mx-2">
            <v-col cols="3">
              <v-card color="transparent" elevation="4" max-width="200">
                <v-img
                  class="white--text align-end"
                  max-width="200"
                  max-height="250"
                  src="@/assets/image/poster-1.jpg"
                  lazy-src="@/assets/image/poster-1.jpg"
                >
                  <template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0"
                      align="center"
                      justify="center"
                    >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
              </v-card>
            </v-col>
            <v-col cols="9">
              <v-card flat outlined="" min-height="250" max-height="250">
                <v-card-text>
                  <div class="display-1 black--text">
                    Impian 1000 Pulau 
                  </div>
                  <v-btn text small class="my-1">
                    <v-icon class="mr-1" color="pink darken-3" small>mdi-calendar</v-icon> <span class="black--text body-2 text-capitalize">YEAR: 2018</span>
                  </v-btn>
                  <v-btn text small class="my-1">
                    <v-icon class="mr-1" color="pink darken-3" small>mdi-clock</v-icon> <span class="black--text body-2 text-capitalize">DURATION: 1H 49M</span>
                  </v-btn>
                  <v-btn text small class="my-1">
                    <v-icon class="mr-1" color="pink darken-3" small>mdi-star</v-icon> <span class="black--text body-2 text-capitalize">GENRE: DRAMA</span>
                  </v-btn>
                  <div class="my-2 grey--text caption">
                    Merasa impian besarnya akan pupus, GALANG (Karel Susanteo), seorang murid SMA kelas 3 di Kepulauan Seribu, bertekad kuat untuk keluar dari pulau, menjejakkan kaki ke perguruan tinggi film di darat (Jakarta). Namun, impian besar Galang bertolak belakang 
                  </div>
                  <div v-if="isLoading">
                    <v-card-actions>
                      <v-skeleton-loader
                        type="button"
                        v-for="n in 2" :key="n"
                        class="mr-4"
                      ></v-skeleton-loader>
                    </v-card-actions>
                  </div>
                  <div v-else>
                    <v-card-actions v-if="setBtn == 0">
                      <v-btn color="pink darken-3 white px-4" outlined="" text @click.stop="dialog = true">
                        <v-icon class="mr-1">mdi-play</v-icon>
                        Trailer
                      </v-btn>
                      <!-- <v-btn color="green white--text px-4" @click="requestTicket()"> -->
                      <v-btn color="green white--text px-4" @click="paymentDialog()">
                        Buy Ticket
                      </v-btn>
                      <!-- <v-btn color="warning white px-4" flat @click.stop="drawerConfirmation = !drawerConfirmation" v-if="btnConfirmation == 1">
                        Confirmation
                      </v-btn> -->
                    </v-card-actions>
                    <v-card-actions v-else-if="conf == 1">
                      <v-btn color="pink darken-3 white px-4" outlined="" text href="https://www.youtube.com/watch?v=t2lspA_KyF8" target="_blank">
                        <v-icon class="mr-1">mdi-play</v-icon>
                        Trailer
                      </v-btn>
                      <v-btn color="grey white--text px-4" flat @click.stop="dialogPayment = true">
                        On Process
                      </v-btn>
                      <v-btn color="white px-4" text v-if="tipepayment == 'VA' || tipepayment == 'QRIS'">
                        <countdown v-if="counting" @progress="handleCountdownProgress" :time="ticketExpired" :transform="transform">
                          <template slot-scope="props"><span class="red--text text-capitalize">Ticket Expired：{{ props.minutes }} minutes, {{ props.seconds }} seconds</span></template>
                        </countdown>
                      </v-btn>
                    </v-card-actions>
                    <v-card-actions v-else>
                      <v-btn color="pink darken-3 white px-4" outlined="" text href="https://www.youtube.com/watch?v=t2lspA_KyF8" target="_blank">
                        <v-icon class="mr-1">mdi-play</v-icon>
                        Trailer
                      </v-btn>
                      <v-btn color="pink darken-3 white--text px-4 ml-2" flat to="/movie" v-if="conf == 2">
                        Watch Now
                      </v-btn>
                    </v-card-actions>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </div>
      </v-col>
      <v-col cols="12">
        <Payment :dialogVisible="buyTicketDialogVisible" @close="myDialogClose"/>
      </v-col>
    </v-row>
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      color="green"
    >
      {{ text }}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

    <v-dialog
      v-model="dialogPayment"
      max-width="380"
    >
      <v-card class="text-center mx-auto align-center">
        <v-card-title class="headline my-4">Invoice Payment</v-card-title>
        
        <template v-if="tipepayment == 'VA'">
          <v-card-subtitle> Silahkan Transfer ke nomor virtual number <strong> {{ vaNumber }} </strong> kami. Batas waktu transfer sampai <strong>{{ expired }} WIB</strong></v-card-subtitle>
          <v-card-subtitle>
            <v-simple-table>
              <template v-slot:default>
                <tbody>
                  <tr>
                    <td>Film</td>
                    <td>: Impian 1000 Pulau</td>
                  </tr>
                  <tr>
                    <td>Amount</td>
                    <td>: {{ price }}</td>
                  </tr>
                  <tr>
                    <td>Bank</td>
                    <td>: {{ bank }}</td>
                  </tr>
                  <tr>
                    <td>Virtual Account</td>
                    <td>: <strong>{{ vaNumber }}</strong></td>
                  </tr>
                  <tr>
                    <td>Expired</td>
                    <td>: {{ expired }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-subtitle>
        </template>

        <template v-if="tipepayment == 'QRIS'">
          <v-card-subtitle class="px-8 mx-8">
          <v-img 
            :src="qrisimage"
            :lazy-src="qrisimage"
            max-width="250"
            width="250"
          >
          </v-img>
          </v-card-subtitle>
          <v-card-subtitle>
            <v-row>
              <v-col cols="3" v-for="i in paymentImageQris" :key="i.image" style="padding:0 !important">
                <img :src="i.image" class="mx-2" width="48" alt />
              </v-col>
            </v-row>
          </v-card-subtitle>
          <v-card-subtitle>Anda juga bisa melakukan pembayaran dengan melakukan scan QRCode dengan aplikasi lainya untuk bisa menonton film ini</v-card-subtitle>
        </template>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="dialogPayment = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog" max-width="560">
      <div class="mx-auto videoiframe">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/t2lspA_KyF8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </v-dialog>
  </div>
</template>

<script>
  import Sidebar from '@/components/dashboard/Sidebar'
  import MoviesService from '@/services/MovieService'
  import Payment from "@/components/Payment";
  export default {
    components: {
      Sidebar,
      Payment
    },
    data () {
      return {
        buyTicketDialogVisible: false,
        isLoading: true,
        user: [],
        dialog: false,
        dialogPayment: false,
        // tunai: true,
        qris: true,
        power: 78,
        valid: true,
        loadingConf: false,
        drawer: null,
        drawerConfirmation: null,
        loader: null,
        conf: 0,
        btnConfirmation: 0,
        files: [],
        itemProvider: [
          {
            title: "OVO",
            id: "1"
          },
          {
            title: "GOPAY",
            id: "2"
          },
          {
            title: "DANA",
            id: "3"
          }
        ],
        confirmation: true,
        sayThanks: false,
        price: 0,
        bank: '',
        expired: '',
        leftminute: '',
        vaNumber: '',
        date: new Date().toISOString().substr(0, 10),
        modal: false,
        time: null,
        modal2: false,
        provider: '',
        snackbar: false,
        text: '',
        timeout: 2000,
        ticketExpired: 0,
        counting: false,
        tipepayment: '',
        qrisimage: '',
        paymentImageQris: [
        {
          image: require('./../../assets/image/payment2/ovo.png')
        },
        {
          image: require('./../../assets/image/payment2/bca.png')
        },
        {
          image: require('./../../assets/image/payment2/dana.png')
        },
        {
          image: require('./../../assets/image/payment2/gopay.png')
        },
        {
          image: require('./../../assets/image/payment2/linkaja.png')
        },
        {
          image: require('./../../assets/image/payment2/paytren.png')
        },
        {
          image: require('./../../assets/image/payment2/cimb-click.png')
        },
        {
          image: require('./../../assets/image/payment2/bank-dki.png')
        },
        {
          image: require('./../../assets/image/payment2/maybank.png')
        },
        {
          image: require('./../../assets/image/payment2/nobu.png')
        },
      ],
      }
    },
    watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l]
        
        this.conf = 1

        setTimeout(() => (
          this[l] = false
        ), 3000)

        setTimeout(() => (
          this.drawer = false
        ), 3500)

        this.loader = null
      },
    },
    computed: {
      setBtn: function() {
        return this.conf;
      },
      userData() {
        return this.$store.state.authData.loggedInUser
      },
    },
    methods: {
      myDialogClose () {
        console.log('payment-close');
        console.log(this.buyTicketDialogVisible)
        this.buyTicketDialogVisible = false
        this.showVideo();
      },
      paymentDialog() {
        console.log('payment-open');
        console.log(this.buyTicketDialogVisible)
        this.buyTicketDialogVisible = true;
      },
      bookingTicket(){
        this.drawer   = false
        this.paymentCheck();
        // window.location = '/dashboard'
      },
      submit() {
        this.confirmation = false
        this.sayThanks    = true
        this.conf = 2
      },
      paymentMethode(param) {
        if(param == 1) {
          this.qris   = true 
          this.tunai  = false 
        }
        else {
          this.qris   = false 
          this.tunai  = true 
        }
      },
      async movies() {
        try {
          const user = JSON.parse(this.userData)
          const data = {
            'userid': user.userid,
            'token': localStorage.getItem("access-token"),
            'limit': '10',
            'page': 0
          }
          const response =  await MoviesService.movies(data)
          console.log(response.data);
        } catch (error) {
          console.log(error)
        }
      },
      async payment() {
        try {
          console.log(this.provider)
          this.loadingConf  = true
          const user        = JSON.parse(this.userData)
          const data = {
            'userid': user.userid,
            'token': localStorage.getItem("access-token"),
            'idpayment': localStorage.getItem("idpayment"),
            'movieid': 3,
            'idprovider': this.provider,
            'tanggal': this.date,
            'jam': this.time
          }
          const response =  await MoviesService.payment(data)
          if(response.data.success == true) {
            localStorage.setItem("access-token", response.data.token)
            this.drawerConfirmation   = false
            this.paymentCheck();
            this.snackbar = true
            this.text  = response.data.message
          }
          
        } catch (error) {
          console.log(error)
        }
      },
      async paymentCheck() {
        try {
          this.isLoading = true
          const user    = JSON.parse(this.userData)
          const data    = {
            'userid': user.userid,
            'token': localStorage.getItem("access-token"),
            'movieid': 3,
          }
          const response =  await MoviesService.paymentCheck(data)
          // console.log(response)

          if(response.data.status == 'Fill') {
            localStorage.setItem("access-token", response.data.token)
            this.btnConfirmation = 1
          }

          if(response.data.status == 'Unpaid') {
            this.conf = 0
          }

          if(response.data.status == 'Waiting') {
            localStorage.setItem("access-token", response.data.token)
            this.conf = 1
          }

          if(response.data.status == 'Paid') {
            localStorage.setItem("access-token", response.data.token)
            this.conf = 2
          }

          this.isLoading = false

        } catch (error) {

          console.log(error)
        }
      },
      async requestTicket() {
        this.drawer   = true
        /* try {

          const user    = JSON.parse(this.userData)
          const data    = {
            'userid': user.userid,
            'token': localStorage.getItem("access-token"),
            'movieid': 3,
          }

          const response  = await MoviesService.requestTicket(data)
          console.log(response.data);
          
          if(response.data.status == 'Fill') {
            localStorage.setItem("access-token", response.data.token)
            localStorage.setItem("idpayment", response.data.idpayment)
            this.conf = 0
            this.price = response.data.amountformat
          }
        } catch (error) {
          console.log(error)
        } */
      },
      async showVideo() {
        try {
          this.isLoading = true
          const user    = JSON.parse(this.userData)
          const data    = {
            'userid': user.userid,
            'token': localStorage.getItem("access-token"),
          }
          const idMovie = 3
          const response =  await MoviesService.showMovie(data, idMovie)
          
          if(response.data.success == false) {
            localStorage.removeItem("userInfo")
            localStorage.removeItem("access-token")
            localStorage.removeItem("profile")
            window.location = "/login"
          }

          if(response.data.status == 'Unrequest') {
            localStorage.setItem("access-token", response.data.token)
          }

          if(response.data.status == 'Fill') {
            localStorage.setItem("access-token", response.data.token)
            this.btnConfirmation = 1
          }

          if(response.data.status == 'Unpaid') {
            this.conf = 0
          }

          if(response.data.status == 'Waiting') {
            localStorage.setItem("access-token", response.data.token)

            this.price 			  = response.data.transferamount
            this.bank 			  = response.data.namaprovider
						this.expired 		  = response.data.expiredvatime
						this.vaNumber 	  = response.data.vanumber
						this.tipepayment 	= response.data.tipepayment
						this.qrisimage 	  = response.data.qrisimage
						this.text 	      = response.data.message

            this.ticketExpired = parseInt(response.data.secondleft) * 1000
            // this.ticketExpired = 12000
            this.counting = true;
            console.log(this.counting)
            this.conf = 1
          }

          if(response.data.status == 'Paid') {
            localStorage.setItem("access-token", response.data.token)
            this.conf = 2
          }

          this.isLoading = false

        } catch (error) {

          console.log(error)
        }
      },
      handleCountdownProgress(data) {
        // console.log(data.seconds);
        if(data.seconds == 1) {
          location.reload()
        }
      },
    },
    mounted () {
      this.showVideo();
      this.user = JSON.parse(this.userData)
    },
  }
</script>

<style lang="scss" scoped>
  .videoiframe {
    iframe {
      width: 100% !important;
      height: 315px !important;
    }
  }
</style>

