<template>
	<div>
		<v-card
      min-height="50"
      tile
      class="px-12"
			v-if="user.alamat == ''"
    >
      <v-row>
        <v-col cols="4">
          <v-card-text>Yuk, lengkapi profilmu agar akun terverifikasi! <router-link to="/profile">disini</router-link></v-card-text>
        </v-col>
      </v-row>
    </v-card>
    <v-row class="mx-auto px-12 py-4" sticky-container>
      <v-col cols="3">
        <Sidebar v-sticky="true" sticky-offset="{top: 85, bottom: 100}" sticky-side="both" on-stick="onStick" sticky-z-index="1" />
      </v-col>
			<v-col cols="9">
				<v-row class="mx-2">
					<v-col cols="3">
						<v-card color="transparent" max-width="200" v-sticky="true" sticky-offset="{top: 100, bottom: 250}" sticky-side="both" on-stick="onStick" sticky-z-index="1">
							<v-img
								class="white--text align-end"
								max-width="200"
								max-height="250"
								min-height="250"
								src="@/assets/avatar/avatar.svg"
								lazy-src="@/assets/avatar/avatar.svg"
							>
								<template v-slot:placeholder>
									<v-row
										class="fill-height ma-0"
										align="center"
										justify="center"
									>
										<v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
									</v-row>
								</template>
							</v-img>
						</v-card>
					</v-col>
					<v-col cols="9">
						<v-card min-height="250" flat>
							<v-card-title>
								<v-icon
									left
									color="black"
								>
									mdi-handshake
								</v-icon>
								<span class="title font-weight-bold">Profile</span>
								<v-divider
									class="mx-3"
									inset
									vertical
								></v-divider>
								<span class="title font-weight-light">Referral</span>
							</v-card-title>
							<v-divider></v-divider>
							<v-form class="pa-4 mx-4" v-model="valid">
								<v-row>
									<v-col
										cols="12"
									>
										<v-text-field
											id="kode-refferal"
											:value="user.referral_code"
											label="Kode Referral"
											readonly
											class="blo my-2 copy-text"
											outlined=""
											hide-details=""
											type="text"
											append-icon="mdi-content-copy"
											@click:append="copyTextCode"
										>
										</v-text-field>
									</v-col>
									<v-col
										cols="12"
									>
										<v-text-field
											id="link-refferal"
											:value="user.referral_link"
											label="Link Referral"
											readonly
											class="blo my-2 copy-text"
											outlined=""
											hide-details=""
											append-icon="mdi-content-copy"
											@click:append="copyTextLink"
										></v-text-field>
									</v-col>

									<v-col
										cols="12"
									>
										<span class="title">Referral History</span>
										<span v-if="isLoading">
											<v-skeleton-loader
												width="100%"
												type="list-item-three-line"
											></v-skeleton-loader>
										</span>
										<span v-else>
											<v-simple-table class="my-4" dark v-if="members.length > 0">
												<template v-slot:default>
													<thead>
														<tr>
															<th class="text-left" style="width: 5%">No</th>
															<th class="text-left">Name</th>
														</tr>
													</thead>
													<tbody>
														<tr v-for="(member, i) in members" :key="member">
															<td>{{ i+1 }}</td>
															<td>{{ member }}</td>
														</tr>
													</tbody>
												</template>
											</v-simple-table>
											<v-simple-table class="my-4" dark v-else>
												<template v-slot:default>
													<thead>
														<tr>
															<th class="text-left" style="width: 5%">No</th>
															<th class="text-left">Name</th>
														</tr>
													</thead>
													<tbody>
														<tr align="center">
															<td colspan="2">No Data</td>
														</tr>
													</tbody>
												</template>
											</v-simple-table>
											<!-- <template v-else>
												<div class="mt-2">
													<span>{{ message }}</span>
												</div>
											</template> -->
										</span>
									</v-col>
								</v-row>
							</v-form>
						</v-card>
					</v-col>
				</v-row>
			</v-col>
    </v-row>
	</div>
</template>

<script>
import Sidebar from '@/components/dashboard/Sidebar'
import MoviesService from '@/services/MovieService'
export default {
	components: {
		Sidebar
	},
	data () {
		return {
			user: [],
			members: [],
			message: '',
			isLoading: true,
			marker: true,
		}
	},
	computed: {
		userData() {
			return this.$store.state.authData.loggedInUser
		}
	},
	methods: {
		async referal() {

			const user    = JSON.parse(this.userData)
			const data  = {
				'userid': user.userid,
				'token': localStorage.getItem("access-token"),
			}

			const response  = await MoviesService.referal(data)
			const res 			= response.data
			if(res.success == true) {
				localStorage.setItem("access-token", res.token);
				this.members = res.list
				this.message = res.message
			} else {
				this.message = res.message
			}

			this.isLoading = false
		},
		copyTextCode() {
			var copyText = document.getElementById("kode-refferal");
			copyText.select(); 
			copyText.setSelectionRange(0, 99999); /For mobile devices/
			document.execCommand("copy");
			alert("Copied");
		},
		copyTextLink() {
			var copyText = document.getElementById("link-refferal");
			copyText.select(); 
			copyText.setSelectionRange(0, 99999); /For mobile devices/
			document.execCommand("copy");
			alert("Copied");
		},
	},
	mounted () {
		this.user = JSON.parse(this.userData)
		this.referal()
	},
}
</script>

<style lang="scss" scoped>
  // .v-application .my-2{
  //   margin-top: 0 !important;
  //   margin-bottom: 0 !important;
  // }
</style>
