<template>
	<v-footer padless color="white">
		<v-row no-gutters>
      <v-col cols="12">
        <v-divider></v-divider>
      </v-col>
			<v-col cols="4">
        <v-card tile flat>
          <v-row>
            <v-col cols="12">
              <v-card tile flat class="black--text mt-10 pl-12 mx-4">
                <v-card-text style="margin-left:-15px">
                  <v-img
                    alt="Vuetify Logo"
                    class="shrink"
                    contain
                    src="@/assets/yukflix-05.png"
                    transition="scale-transition"
                    width="350"
                  />
                </v-card-text>
                  <v-card-text>
                    <v-btn
                      v-for="data in socialMedia"
                      :key="data.title"
                      class="mr-4 black--text text--darken-3"
                      icon
                      :href="data.link"
                      target="_blank"
                    >
                      <v-icon size="36px">{{ data.icon }}</v-icon>
                    </v-btn>
                  </v-card-text>
                <v-card-text class="black--text pt-0 font-italic">
                  Investasi Dimulai dari Nonton
                </v-card-text>
                <v-card-text class="black--text pt-0">
                  <!-- <router-link to="/help"> -->
                    <v-btn class="pink darken-3 white--text py-4 px-6" to="/help" rounded="" >FAQ's</v-btn>
                  <!-- </router-link> -->
                  <!-- <strong>Yukflix didukung oleh:</strong>  -->
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
			</v-col>
      <v-col cols="8">
        <v-row no-gutters class="py-12 mt-5">
          <v-col cols="12" class="px-12">
            <v-card-text class="black--text pt-0">
              <strong>Yukflix didukung oleh:</strong> 
            </v-card-text>
          </v-col>
          <v-col cols="12" class="px-12">
            <SlideSlick v-bind="settingsSupportBy">
              <v-card min-width="120" min-height="120" v-for="data in didukung" :key="data.image" class="pa-6 text-center" flat>
                <v-img
                  :src="data.image"
                  :lazy-src="data.image"
                  width="180"
                >
                </v-img>
              </v-card>
            </SlideSlick>
          </v-col>
        </v-row>
      </v-col>
		</v-row>
    <!-- <v-row no-gutters>
      <v-col cols="12" class="px-12">
        <SlideSlick v-bind="settingsSupportBy">
          <v-card min-width="75" min-height="75" v-for="data in didukung" :key="data.image" class="pa-6 text-center" flat>
            <v-img
              :src="data.image"
              :lazy-src="data.image"
              width="150"
            >
            </v-img>
          </v-card>
        </SlideSlick>
      </v-col>
    </v-row> -->
		<v-row>
			<v-col cols="6">
				<v-card flat tile class="black--text pl-12 mx-4 mt-4">
					<v-card-text class="black--text pt-0 my-4">
						Copyright 2020. Yukflix All Rights Reserved.
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
    <!-- <v-col cols="2">
      <v-card flat tile class="black--text pl-12 mx-4 mt-10">
        <router-link to="/help">
          <v-card-text class="blue--text pt-0 my-4 font-weight-bold">
            FAQ's
          </v-card-text>
        </router-link>
      </v-card>
    </v-col> -->
	</v-footer>
</template>

<script>
import SlideSlick from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
export default {
  components: {
    SlideSlick
  },
  data: () => ({
    colors: [
      'indigo',
      'warning',
      'pink darken-2',
      'red lighten-1',
      'deep-purple accent-4',
    ],
    slides: [
      'First',
      'Second',
      'Third',
      'Fourth',
      'Fifth',
    ],
    socialMedia: [
      {
        title: "facebook",
        icon: "mdi-facebook",
        link: "https://www.facebook.com/Yukflix-104934717930723",
      },
      {
        title: "instagram",
        icon: "mdi-instagram",
        link: "https://www.instagram.com/yuk.flix/",
      },
      {
        title: "youtube",
        icon: "mdi-youtube",
        link: "",
      },
    ],
    settingsSupportBy: {
      "arrows": false,
      "dots": true,
      "focusOnSelect": true,
      "infinite": true,
      "slidesToShow": 4,
      "slidesToScroll": 1,
      "touchThreshold": 5,
      "speed": 1000,
      "autoplay": true,
      "autoplaySpeed": 2000,
    },
    didukung: [
      {
        image: require('./../assets/support-2/1.png'),
        title: 'Kementerian Koordinator Bidang Perekonomian Republik Indonesia'
      },
      {
        image: require('./../assets/support-2/3.png'),
        title: 'Taman Nasional Kepulauan Seribu'
      },
      {
        image: require('./../assets/support-2/4.png'),
        title: 'Badan Pembinaan Ideologi Pancasila'
      },
      {
        image: require('./../assets/support-2/5.png'),
        title: 'Kementerian Pendidikan dan Kebudayaan Republik Indonesia'
      },
      {
        image: require('./../assets/support-2/6.png'),
        title: 'Kementerian Koperasi dan UKM'
      },
      {
        image: require('./../assets/support-2/7.png'),
        title: 'Kementerian Koordinator Bidang Perekonomian Republik Indonesia'
      },
      {
        image: require('./../assets/support-2/8.png'),
        title: 'Kementerian Koordinator Bidang Kemaritiman'
      },
      {
        image: require('./../assets/support-2/9.png'),
        title: 'Bank Indonesia'
      },
      {
        image: require('./../assets/support-2/10.png'),
        title: 'Kementerian Pariwisata dan Ekonomi Kreatif'
      },
    ],
  }),
};
</script>

<style lang="scss" scoped>
  .text---underline{
    padding-bottom: 20px;
    border-bottom: 6px solid #AD1457;
    line-height: 48px;
  }
  .bw {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  .slick-slider {
    width: 100%;
    max-width: 1200px; // The widest it will go on a responsive website
  }
</style>