<template>
  <v-img
    class="inspire"
    src="https://wallpaperaccess.com/full/430144.jpg"
    lazy-src="https://wallpaperaccess.com/full/430144.jpg"
    jumbotron
    gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
  >
    <template v-slot:placeholder>
      <v-row
        class="fill-height ma-0"
        align="center"
        justify="center"
      >
        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
      </v-row>
    </template>
    <div class="caption">
      <div class="caption-inner">
        <v-row>
          <v-col
            cols="6"
            class="mt-10"
          >
            <v-card
              color="transparent"
              flat
            >
              <v-card-text>
                <div class="my-4 display-4 font-weight-black white--text">
                  Black Widow
                </div>
                <v-btn text>
                  <v-icon class="mr-3" color="yellow">mdi-star</v-icon> <span class="white--text">IMDB: 7.8</span>
                </v-btn>
                <v-btn text>
                  <v-icon class="mr-3" color="yellow">mdi-clock</v-icon> <span class="white--text">DURATION: 1H 5.8M</span>
                </v-btn>
                <v-btn text>
                  <v-icon class="mr-3" color="yellow">mdi-calendar</v-icon> <span class="white--text">YEAR: 2018</span>
                </v-btn>
                <div class="white--text my-6">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut nisi eu neque consequat pellentesque in eu ligula. Quisque sed laoreet diam. Praesent ornare metus vitae ligula consequat convallis.
                </div>
              </v-card-text>

              <v-card-actions>
                <v-btn color="yellow px-4" x-large rounded>
                  <v-icon class="mr-1" color="black">mdi-play</v-icon>
                  Watch Trailer
                </v-btn>
                <v-btn color="white px-4" x-large rounded @click.stop="dialog = true">
                  <v-icon class="mr-1">mdi-eye</v-icon>
                  Watch Now
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col
            cols="6"
          >
            <v-row>
              <v-col
                cols="12"
              >
                <v-card
                  class="mx-auto"
                  max-width="200"
                >
                  <v-img
                    class="white--text align-end"
                    height="300px"
                    src="https://m.media-amazon.com/images/M/MV5BMzFiODE0ZDUtN2IxNC00OTI5LTg4OWItZTE2MjU4ZTk2NjM5XkEyXkFqcGdeQXVyNDYzODU1ODM@._V1_.jpg"
                    lazy-src="https://m.media-amazon.com/images/M/MV5BMzFiODE0ZDUtN2IxNC00OTI5LTg4OWItZTE2MjU4ZTk2NjM5XkEyXkFqcGdeQXVyNDYzODU1ODM@._V1_.jpg"
                  >
                    <template v-slot:placeholder>
                      <v-row
                        class="fill-height ma-0"
                        align="center"
                        justify="center"
                      >
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                </v-card>
              </v-col>
              <v-col
                cols="12"
              >
                <v-card
                  class="mx-auto mr-12"
                  max-width="200"
                  style="margin-top: -160px"
                >
                  <v-img
                    class="white--text align-end"
                    height="300px"
                    src="https://images-na.ssl-images-amazon.com/images/I/51MDXqYzqVL._AC_.jpg"
                    lazy-src="https://images-na.ssl-images-amazon.com/images/I/51MDXqYzqVL._AC_.jpg"
                  >
                    <template v-slot:placeholder>
                      <v-row
                        class="fill-height ma-0"
                        align="center"
                        justify="center"
                      >
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </div>
    </div>
  </v-img>
</template>

<style lang="scss" scoped>
	.inspire img {
    height: 100vh
  }
  .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background: rgba(2, 1, 1, 0.5);
    .caption-inner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 30px;
      h2 {
        font-weight: 900;
        font-size: 29px;
        line-height: 1.3;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .v-btn:before {
    display: none;
  }
  .v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border-radius: 0px !important
  }
  #create .v-speed-dial {
    position: absolute;
  }
  #create .v-btn--floating {
    position: relative;
  }
  .text---underline{
    padding-bottom: 20px;
    border-bottom: 6px solid #FDD835;
    line-height: 48px;
  }
  .v-dialog {
    border-radius: 0px !important
  }
  .bottom-gradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 60%, transparent 500px);
  }
</style>
