<template>
  <div>
    <v-card class="mx-auto mt-3" max-width="250">
      <v-list-item three-line>
        <v-list-item-avatar
          size="50"
          class="mt-6"
           @click="$router.push('/dashboard')"
           style="cursor:pointer"
        >
          <v-avatar>
            <v-img
              src="@/assets/avatar/avatar.svg"
            ></v-img>
          </v-avatar>
        </v-list-item-avatar>

        <v-list-item-content style="margin-left: -20px; cursor:pointer"  @click="$router.push('/dashboard')">
          <v-card-title class="subtitle-2">{{ user.nama }}</v-card-title>
          <v-card-subtitle class="caption">Verified Account</v-card-subtitle>
        </v-list-item-content>
      </v-list-item>
      
      <v-divider></v-divider>
      <v-card min-height="20" tile flat color="grey lighten-3">
        <v-card-subtitle>Transaction</v-card-subtitle>
      </v-card>
      <v-list dense="">
        <router-link to="/transaction" style="text-decoration: none">
          <v-list-item>
            <v-list-item-icon>
              <v-icon small="">mdi-clock</v-icon>
            </v-list-item-icon>
            <v-list-item-title>History</v-list-item-title>
          </v-list-item>
        </router-link>
      </v-list>
      <v-card min-height="20" tile flat color="grey lighten-3">
        <v-card-subtitle>Account</v-card-subtitle>
      </v-card>
      <v-list dense="">
        <router-link to="/profile" style="text-decoration: none">
          <v-list-item>
            <v-list-item-icon>
              <v-icon small="">mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Profile</v-list-item-title>
          </v-list-item>
        </router-link>
        <router-link to="/referal" style="text-decoration: none">
          <v-list-item>
            <v-list-item-icon>
              <v-icon small="">mdi-handshake</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Referral</v-list-item-title>
          </v-list-item>
        </router-link>
        <router-link to="/settings" style="text-decoration: none">
          <v-list-item>
            <v-list-item-icon>
              <v-icon small="">mdi-cog</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Settings</v-list-item-title>
          </v-list-item>
        </router-link>
        <v-list-item @click.prevent="logoutUser">
          <v-list-item-icon>
            <v-icon small="">mdi-arrow-left</v-icon>
          </v-list-item-icon>
          <v-list-item-title class="red--text">Sign Out</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-card>
  </div>
</template>

<script>
export default {
  data () {
    return {
      user: [],
    }
  }, 
  computed: {
    userData() {
      return this.$store.state.authData.loggedInUser
    }
  },
  methods: {
    logoutUser() {
      localStorage.removeItem("userInfo")
      localStorage.removeItem("access-token")
      localStorage.removeItem("profile")
      window.location = "/"
    }
  },
  mounted () {
    this.user = JSON.parse(this.userData)
  },
}
</script>
