<template>
  <div>
      <!-- Hero -->
      <v-img
        class="inspire"
        src="@/assets/image/bg-1.jpg"
        lazy-src="@/assets/image/bg-1.jpg"
        jumbotron
        gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)">
        <template v-slot:placeholder>
          <v-row
            class="fill-height ma-0"
            justify="center"
          >
            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
          </v-row>
        </template>
        <div class="caption">
          <div class="caption-inner">
            <v-row>
              <v-col
                cols="7"
                class="mt-4"
              >
                <v-card
                  color="transparent"
                  flat
                >
                  <v-card-text>
                    <div class="my-4 display-4 font-weight-black white--text">
                      <!-- IMPIAN <br>1000 Pulau -->
                      <v-img
                        src="@/assets/image/poster-title.png"
                        width="600"
                      ></v-img>
                    </div>
                    <v-btn text>
                      <v-icon class="mr-3" color="pink darken-3">mdi-calendar</v-icon> <span class="white--text">YEAR: 2018</span>
                    </v-btn>
                    <v-btn text>
                      <v-icon class="mr-3" color="pink darken-3">mdi-clock</v-icon> <span class="white--text">DURATION: 1H 49M</span>
                    </v-btn>
                    <v-btn text>
                      <v-icon class="mr-3" color="pink darken-3">mdi-star</v-icon> <span class="white--text">GENRE: DRAMA</span>
                    </v-btn>
                    <div
                      class="white--text"
                    >
                      Merasa impian besarnya akan pupus, GALANG (Karel Susanteo), seorang murid SMA kelas 3 di Kepulauan Seribu, bertekad kuat untuk keluar dari pulau, menjejakkan kaki ke perguruan tinggi film di darat (Jakarta). Namun, impian besar Galang bertolak belakang dengan kemauan keras sang AYAH (Rifnu Wikana) yang menginginkan anaknya untuk meneruskan pekerjaannya sebagai nelayan muroami yang illegal, sehingga membuat tali hubungan mereka mulai hancur.
                    </div>
                  </v-card-text>

                  <v-card-actions>
                    <v-btn color="pink darken-3 px-4 white--text" x-large rounded href="https://www.youtube.com/watch?v=t2lspA_KyF8" target="_blank">
                      <v-icon class="mr-1" color="white">mdi-play</v-icon>
                      Trailer
                    </v-btn>
                      <v-btn href="/movie" color="white px-4" x-large rounded>
                        <v-icon class="mr-1">mdi-eye</v-icon>
                        Watch Now
                      </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </div>
        </div>
      </v-img>
      <!-- End of Hero -->

      <!-- Synopsis -->
      <div class="mb-12 mt-12 px-12" id="about">
        <v-row>
          <v-col
            cols="9"
          >
            <v-row
              justify="left"
              style="height: 110px;"
              
            >
              <v-col cols="12">
                <v-card
                  tile
                  flat
                  color="transparent"
                >
                  <v-card-title class="display-1 font-weight-bold black--text">
                    Keunikan Film Impian 1000 Pulau
                  </v-card-title>
                  <v-card-text><i>“MIMPI akan tercapai apabila dikerjakan dengan penuh INTEGRITAS”</i> - #KamiPunyaMIMPI </v-card-text>
                </v-card>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12">
                <v-card
                  tile
                  flat
                  color="transparent"
                  class="mt-4"
                >
                  <v-card-text> 
                    <v-row>
                      <v-col cols="3">
                        <v-card min-height="280" outlined>
                          <v-card-text>
                            Berbicara tentang semangat seorang pelajar dari pulau terkecil untuk meraih mimpinya yang anti mainstream dengan kebiasaan anak pulau lainnya
                          </v-card-text>
                        </v-card>
                      </v-col>
                      <v-col cols="3">
                        <v-card min-height="280" outlined>
                          <v-card-text>
                            Film ini diproduksi, ditulis dan disutradarai oleh pelajar & mahasiswa dengan usia 20 tahun kebawah, dengan hasil professional dan memiliki daya saing tinggi.
                          </v-card-text>
                        </v-card>
                      </v-col>
                      <v-col cols="3">
                        <v-card min-height="280" outlined>
                          <v-card-text>
                            Film ini ingin menyampaikan pesan integritas dan kekuatan kolaborasi dalam menghasilkan Maha Karya yang berdampak bagi pariwisata serta menerapkan nilai-nilai SDGs secara terintegrasi.
                          </v-card-text>
                        </v-card>
                      </v-col>
                      <v-col cols="3">
                        <v-card min-height="280" outlined>
                          <v-card-text>
                            Film ini mengambil lokasi di Kepulauan Seribu, salah satu Target pengembangan Destinasi Wisata Baru (KSPN) yang akan disinergikan dengan Penanaman Mangrove & Pelestarian Penyu.
                          </v-card-text>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-col>

          <v-col
            cols="3"
          >
            <v-card
              color="transparent"
              width="300"
              tile
              flat
              elevation="5"
              class="mx-auto"
              min-height="450"
            >
              <v-img
                class="align-end"
                max-height="500"
                min-height="450"
                src="@/assets/image/poster-1.jpg"
                lazy-src="@/assets/image/poster-1.jpg"
                aspect-ratio="1"
              >
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height ma-0"
                    justify="center"
                  >
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                  </v-row>
                </template>
              </v-img>
            </v-card>
          </v-col>
        </v-row>
      </div>
      <!-- End of Synopsis -->
      
      <!-- Filmmaker -->
      <div class="grey darken-4 pa-lg-12" id="profile">
        <v-row class="my-4">
          <v-col cols="5">
            <v-card
              tile
              flat
              color="transparent"
            >
              <v-card-title class="display-2 font-weight-bold white--text">
                Sutradara, Produser & Penulis Skenario
              </v-card-title>
            </v-card>
          </v-col>
          <v-col cols="7">
            <v-card
              tile
              flat
              color="transparent"
            >
              <v-card-title class="subtitle-1 white--text">
                Impian 1000 Pulau" disutradarai oleh Naphtali Ivan dan diproduseri oleh Kevyn Augusta, Jennifer Oktivana, Soleha Sari, dan Yayi Puspita Sari. Film ini merupakan film pertama dari para filmmaker tersebut di mana saat proses pembuatan film ini, mereka masih di bawah umur 20 tahun.
                <br>Film ini ditulis oleh Ernest Lesmana, seorang filmmaker Indonesia yang saat ini tinggal di Boston, Amerika Serikat. Film pendek pertama Ernest dan Jennifer yang berjudul "Ruwatan" telah ditayangkan di beberapa festival film bergengsi di dunia, salah satunya Palm Springs International ShortFest
              </v-card-title>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            v-for="crew in filmMakers"
            :key="crew.image"
            class="d-flex child-flex"
            cols="4"
          >
            <v-card flat tile class="d-flex">
              <v-img
                :src="crew.image"
                :lazy-src="crew.image"
                gradient="to top right, rgba(2, 1, 1, 0.2), rgba(2, 1, 1, 0.2)"
                class="grey lighten-2 white--text align-end"
                
              >
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height ma-0"
                    justify="center"
                  >
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                  </v-row>
                </template>
                <div class="fill-height bottom-gradient">
                  <v-card-title><span class="font-weight-bold">{{ crew.name }}</span></v-card-title>
                  <v-card-subtitle class="white--text">{{ crew.position }}</v-card-subtitle>
                </div>
              </v-img>
            </v-card>
          </v-col>
        </v-row>
      </div>
      <!-- End of Filmmaker -->
      
      <!-- Gallery -->
      <div class="px-12" id="gallery">
        <v-row>
          <v-col cols="12">
            <v-row
              justify="left"
              style="height: 100px;"
            >
              <v-col cols="6">
                <v-card
                  tile
                  flat
                  color="transparent"
                >
                  <v-card-title class="display-1 font-weight-bold black--text">
                    Galleri
                  </v-card-title>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
          <VueSlickCarousel v-bind="settingsFilmMaker" class="mt-4">
            <v-card
              v-for="filmMaker in galleries"
              :key="filmMaker.image"
              max-width="350"
              class="mx-2"
            >
              <v-img
                  class="white--text align-end"
                  :src="filmMaker.image"
                  :lazy-src="filmMaker.image"
                  width="500"
                  aspect-ratio="1"
                >
                  <template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0"
                      justify="center"
                    >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
            </v-card>
          </VueSlickCarousel>
      </div>
      <!-- End of Gallery -->

      <!-- Soundtreck -->
      <div class="grey lighten-4 px-12 mt-12">
        <v-row>
          <v-col cols="6">
            <v-card
              tile
              flat
              color="transparent"
            >
              <v-card-title class="display-1 font-weight-bold black--text">
                Original Soundtrack
              </v-card-title>
              <v-card-subtitle>Sanubari - Eka Gustiwana ft. Prince Husain</v-card-subtitle>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="12"
            class="text-center my-2"
          >
            <div class="mx-auto">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/k2g57V3zV04" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </v-col>
        </v-row>
      </div>
      <!-- End of Soundtrack -->

      <!-- Profile Cast -->
      <div class="grey darken-4 pa-lg-12" id="casting">
        <v-row
          justify="left"
          style="height: 100px;" 
        >
          <v-col cols="12">
            <v-card
              tile
              flat
              color="transparent"
            >
              <v-card-title class="display-1 font-weight-bold white--text">
                Pemain Film
              </v-card-title>
            </v-card>
          </v-col>
        </v-row>
        <VueSlickCarousel v-bind="settings" class="mt-6">
          <div
            v-for="cast in casts"
            :key="cast.name"
          >
            <v-card
              class="mx-auto my-2 text-center"
              max-width="280"
              color="transparent"
              tile
              flat
            >
              <v-img
                class="white--text align-end"
                :src="cast.image"
                :lazy-src="cast.image"
                aspect-ratio="1"
              >
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height ma-0"
                    justify="center"
                  >
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                  </v-row>
                </template>
              </v-img>
                <v-card-title class="font-weight-black white--text title text--center">{{ cast.name }}</v-card-title>
                <v-card-subtitle class="white--text">{{ cast.cast_name }}</v-card-subtitle>
            </v-card>
          </div>
        </VueSlickCarousel>
      </div>
      <!-- End of Profile Cast -->

      <!-- Support By -->
      <div class="grey lighten-4 pa-lg-12">
        <v-row>
          <v-col cols="12">
            <v-row
              justify="left"
              style="height: 100px;"
              
            >
              <v-col cols="6">
                <v-card
                  tile
                  flat
                  color="transparent"
                >
                  <v-card-title class="display-1 font-weight-bold black--text">
                    Disponsori Oleh
                  </v-card-title>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <VueSlickCarousel v-bind="settingsSupport" class="mt-4">
          <div
            v-for="logo in logos"
            :key="logo.image"
          >
            <v-img
                class="white--text align-end"
                :src="logo.image"
                :lazy-src="logo.image"
                width="150"
              >
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height ma-0"
                    justify="center"
                  >
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                  </v-row>
                </template>
              </v-img>
          </div>
        </VueSlickCarousel>
      </div>
      <!-- End of Support By -->

      <!-- Support By -->
      <div class="grey lighten-4 px-lg-12 py-lg-8">
        <v-row>
          <v-col cols="12">
            <v-card
              tile
              flat
              color="transparent"
            >
              <v-card-title class="display-1 font-weight-bold black--text">
                Ingin Film Kamu Ditayangkan di YUKFLIX?
              </v-card-title>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6">
            <v-card
              flat
              color="transparent"
              class="px-4"
            >
              Kesempatan menarik buat kamu pelajar dan mahasiswa yang suka bikin film! Bisa tayang di YUKFLIX dengan pembagian keuntungan yang menarik.
            </v-card>
          </v-col>
          <v-col cols="4">
            <v-card class="text-center ml-12 pl-12" flat color="transparent">
              <v-btn x-large="" color="success" dark block>
                Coming Soon
              </v-btn>
            </v-card>
          </v-col>
        </v-row>
      </div>
      <!-- End of Support By -->
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
export default {
  components: {
    VueSlickCarousel
  },
  data: () => ({
    // loading: false,
    fab: false,
    fling: false,
    hover: false,
    tabs: null,
    right: true,
    bottom: true,
    dialog: false,
    settings: {
      "dots": false,
      "focusOnSelect": false,
      "infinite": false,
      "speed": 500,
      "slidesToShow": 4,
      "slidesToScroll": 1,
      "touchThreshold": 5,
      "rows": 2
    },
    settingsFilmMaker: {
      "dots": true,
      "focusOnSelect": true,
      "infinite": true,
      "slidesToShow": 3,
      "slidesToScroll": 1,
      "touchThreshold": 5,
      "speed": 1000,
      "autoplay": true,
      "autoplaySpeed": 2000,
    },
    settingsSupport: {
      "arrows": false,
      "dots": true,
      "focusOnSelect": true,
      "infinite": true,
      "slidesToShow": 6,
      "slidesToScroll": 1,
      "touchThreshold": 5,
      "speed": 1000,
      "autoplay": true,
      "autoplaySpeed": 2000,
    },
    casts: [
      {
        name: "Yorikho Angeline",
        cast_name: "Nabila",
        image: require('./../../assets/image/cast/Yorikho Angeline - Nabila.jpg')
      },
      {
        name: "Arsenda Rochmana",
        cast_name: "Galang Kecil",
        image: require('./../../assets/image/cast/Arsenda Rochmana - Galang Kecil.jpg')
      },
      {
        name: "Asri Welas",
        cast_name: "Mpok Zaenab",
        image: require('./../../assets/image/cast/Asri Welas - Mpok Zaenab.jpg')
      },
      {
        name: "Chicco Kurniawan",
        cast_name: "Rahman",
        image: require('./../../assets/image/cast/Chicco Kurniawan - Rahman.jpg')
      },
      {
        name: "Rahmet Ababil",
        cast_name: "Adjie",
        image: require('./../../assets/image/cast/Rahmet Ababil - Adjie.jpg')
      },
      {
        name: "Rifnu Wikana",
        cast_name: "Daeng (Ayah Galang)",
        image: require('./../../assets/image/cast/Rifnu Wikana - Daeng (Ayah Galang).jpg')
      },
      {
        name: "Wina Marrino",
        cast_name: "Ibu Galang",
        image: require('./../../assets/image/cast/Wina Marrino - Ibu Galang.jpg')
      },
      {
        name: "Karel Susanteo",
        cast_name: "Galang",
        image: require('./../../assets/image/cast/Karel Susanteo - Galang.jpg')
      }
    ],
    filmMakers: [
      {
        name: "Ernest Lesmana",
        position: "Penulis Skenario",
        image: require('./../../assets/image/crew/Ernest Lesmana - Penulis Skenario.jpeg')
      },
      {
        name: "Kevyn Augusta",
        position: "Produser",
        image: require('./../../assets/image/crew/Kevyn Augusta - Produser.jpeg')
      },
      {
        name: "Naphtali Ivan",
        position: "Sutradara",
        image: require('./../../assets/image/crew/Naphtali Ivan - Sutradara.jpeg')
      },
    ],
    logos: [
      {
        image: require('./../../assets/brand/new/bca.png')
      },
      {
        image: require('./../../assets/brand/new/revolusi-mental.png')
      },
      {
        image: require('./../../assets/brand/new/transjakarta.png')
      },
      {
        image: require('./../../assets/brand/new/traveloka.png')
      },
      {
        image: require('./../../assets/brand/new/protelindo.png')
      },
      {
        image: require('./../../assets/brand/new/indonesia-re.png')
      }
    ],
    galleries: [
      {
        image: require('./../../assets/image/pict-1.jpg')
      },
      {
        image: require('./../../assets/image/pict-2.jpg')
      },
      {
        image: require('./../../assets/image/pict-3.jpg')
      },
      {
        image: require('./../../assets/image/pict-4.jpg')
      },
      {
        image: require('./../../assets/image/pict-5.jpg')
      },
      {
        image: require('./../../assets/image/pict-6.jpg')
      },
    ],
  }),
  methods: {
    onScroll (e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset ||   e.target.scrollTop || 0
      this.fab = top > 300
    },
    toTop () {
      this.$vuetify.goTo(0)
    }
  },
};
</script>

<style lang="scss" scoped>
	.inspire img {
    height: 100vh
  }
  .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background: rgba(2, 1, 1, 0.5);
    .caption-inner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 30px;
      h2 {
        font-weight: 900;
        font-size: 29px;
        line-height: 1.3;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .v-btn:before {
    display: none;
  }
  .v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border-radius: 0px !important
  }
  #create .v-speed-dial {
    position: absolute;
  }
  #create .v-btn--floating {
    position: relative;
  }
  .text---underline{
    padding-bottom: 20px;
    border-bottom: 6px solid #AD1457;
    line-height: 48px;
  }
  .v-dialog {
    border-radius: 0px !important
  }
  .bottom-gradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 25%, transparent 150px);
  }
  .text--center {
    display: inline-flex !important;
  }
  .slick-slide {
    box-shadow: none;
    border-color:none;
    color: none;
    background: none;
    outline:none;
  }
  .slick-slide {
    &:focus, a {
      outline: none;
    }
  }
  .slick-slide div { outline: none; }
  .bw {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  .videoiframe {
    iframe {
      width: 100% !important;
      height: 315px !important;
    }
  }
</style>
