<template>
  <v-app>
    <v-app-bar
      app
      color="black"
      light=""
      flat
      fixed
    >
      <router-link to="/">
        <div class="d-flex align-center">
          <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            contain
            src="@/assets/yukflix-02.png"
            transition="scale-transition"
            width="180"
          />
        </div>
      </router-link>

      <v-spacer></v-spacer>

      <span v-if="user">      
        <router-link to="/dashboard"
          class="mx-2"
          style="text-decoration:none !important"
        >
          <v-badge
            bordered
            bottom
            color="green"
            dot
            offset-x="10"
            offset-y="10"
            class="mr-2"
          >
            <v-avatar size="40">
              <v-img src="@/assets/avatar/avatar.svg"></v-img>
            </v-avatar>
          </v-badge>

          <span class="mx-2 text-capitalize subtitle-2 white--text">{{ user.nama }}</span>
        </router-link >
      </span>
      <span v-else>
        <router-link to="/login" style="text-decoration:none !important">
          <span class="text-capitalize white--text subtitle-1 font-weight-black mr-4">Login</span>
        </router-link>
      </span>
    </v-app-bar>

    <v-content>
      
      <router-view></router-view>

      <Footer id="contact" />

      <v-card-text style="position: fixed">
        <v-btn
          v-scroll="onScroll"
          v-show="fab"
          fixed
          light
          fab
          bottom
          right
          color="pink darken-3"
          tile
          @click="toTop"
        >
          <v-icon color="white">mdi-chevron-up</v-icon>
        </v-btn>
      </v-card-text>
    </v-content>
    
  </v-app>
</template>

<script>
import Footer from './components/Footer';
import Initload from "@/services/Init";

export default {
  title () {
    return `Yukflix`
  },
  components: {
    Footer,
  },
  data: () => ({
    user: [],
    loading: false,
    fab: false,
    fling: false,
    hover: false,
    tabs: null,
    right: true,
    bottom: true,
  }),
  computed: {
    userData() {
      return this.$store.state.authData.loggedInUser
    }
  },
  methods: {
    onScroll (e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset ||   e.target.scrollTop || 0
      this.fab = top > 300
    },
    toTop () {
      this.$vuetify.goTo(0)
    },
    async initload() {
      try {
        await Initload.load()
        // console.log(response.data)

      } catch (error) {
        console.log(error);
      }
    },
  },
  mounted () {
    this.initload();
    this.user = JSON.parse(this.userData)
  },
};
</script>

<style lang="scss" scoped>
	.inspire img {
    height: 100vh
  }
  .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background: rgba(2, 1, 1, 0.5);
    .caption-inner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 30px;
      h2 {
        font-weight: 900;
        font-size: 29px;
        line-height: 1.3;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .v-btn:before {
    display: none;
  }
  .v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border-radius: 0px !important
  }
  #create .v-speed-dial {
    position: absolute;
  }
  #create .v-btn--floating {
    position: relative;
  }
  .text---underline{
    // padding-bottom: 20px;
    border-bottom: 4px solid #AD1457;
  }
  .v-dialog {
    border-radius: 0px !important
  }
  .bottom-gradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 50%, transparent 400px);
  }
</style>
