<template>
  <div class="about">
    <v-row
      class="pa-12 grey lighten-4"
      >
        <v-col
          cols="12"
          class="pa-6 my-12 px-12 text-center"
        >
          <v-card class="my-8 py-4" flat color="transparent">
            <p class="body-1">{{ notifAcc }}</p>
            
            <v-icon size="50" color="pink darken-3">mdi-dots-horizontal</v-icon>
          </v-card>
        </v-col>
      </v-row>
      <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
        color="red"
      >
        {{ text }}
        <v-btn
          color="white"
          text
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </v-snackbar>
  </div>
</template>

<script>
import AuthService from '@/services/AuthService'
export default {
  components: {
  },
  data: () => ({
    loadingRegister: false,
    snackbar: false,
    text: 'Something wrong! please wait...',
		timeout: 3000,
		notifAcc: '',
  }),
  methods: {
    async activationAccount() {
      try {
				const id 			 = this.$route.query.id
				const regcode  = this.$route.query.regcode
				// console.log(id); 
				// console.log(regcode); 
				const response = await AuthService.activation(id, regcode)
				// console.log(response);
				const status     = response.data.success
				
				if(status == true) {
					this.notifAcc = response.data.message
					console.log('success akitavasi')
				} else {
					this.notifAcc = response.data.message
					this.makeSnackbar(response.data.message) 
				}
      
      } catch (error) {
        console.log(error)
      }
    },
    makeSnackbar(val) {
      this.text = val
      this.snackbar = true
      this.loadingRegister  = false
    },
	},
	mounted () {
		this.activationAccount();
	},
};
</script>

<style lang="scss" scoped>
  .v-application .my-2{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
</style>
